{
  "plugins": [
    "dynamic-import-webpack"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "modules": false
      }
    ]
  ],
  "ignore": [
    "/node_modules",
    "/examples"
  ]
}
